body{
	font-family: sans-serif;
	text-align: center;
}
 #nav{
	width: 1600px;
	height: 125px;
	background:#ccc; 
	opacity: 1;
}
#wrapper{
	height: 50px;
	width: 1600px;
	background: #660000;
	opacity: 1;
}
#wrapper ul li{
	list-style: none;
	display: inline;
	font-weight: bold;
	padding: 10px;
}
#wrapper a{
	color: white;
	text-decoration: none;
	
}